/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
  }
  .container {
    width: 600px; 
    padding: 20px;
    background-color: #fff;  
    border-radius: 8px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  }
  /* Table Header Styles */
  thead {
    background-color: #f2f2f2;
  }
  th {
    padding: 12px 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Table Body Styles */
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  td {
    padding: 12px 8px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Action Button Styles */
  .action-buttons button,
  .action-buttons a {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    margin-left:5px
  }
  
  .action-buttons button:hov    er,
  .action-buttons a:hover {
    background-color: #0056b3;
  }
  